<form action="<%= post_comments_path(post) %>" method="post">
    <input type="hidden" name="authenticity token">
    <textarea name="comment[content]" rows="6" columns="20"></textarea>
    <input type="submit" value="submit">
</form>