.nav {
  display: flex;
  justify-content: space-between;
  color: red;
  gap: 10px;
  border-bottom: 1px solid black;
  padding: 1.4em 8em;
}
a, button {
  text-decoration: none;
  color: black;
}

a:hover, button:hover {
  color: red;
  transition: ease-in-out;
}

.auth_link {
  display: flex;
  gap: 18px;
}
.auth_link a, button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
